body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.content {
  margin-top: 100px;
}

.welcome-block {
  display: inline-block;
}

.chart-display {
  display: inline-block;
  height: 80vh;
  width: 80vw;
  margin: 10px;
}
